Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

Use `importlib`
  .distro/spglib.spec
  ChangeLog.md
  pyproject.toml
  python/CMakeLists.txt
  python/spglib/spglib.py
Due: python_api

Use standard python namespace
  python/spglib/spglib.py
Due: none

Use editable installs
  .github/workflows/step_coverage.yaml
  .github/workflows/step_test-docs.yaml
Due: none

Use GenerateExportHeader
  CMakeLists.txt
  cmake/CMakePresets-defaults.json
  src/CMakeLists.txt
  src/spglib.h
  test/CMakeLists.txt
Due: c_api, fortran_api, python_api

Always include GNUInstallDirs cmake module
  .github/workflows/step_test.yaml
  CMakeLists.txt
  test/CMakeLists.txt
Due: none

Use macos-14 and macos-14 on CI
  .github/workflows/step_test.yaml
Due: none

Fix build problems under windows
  .gitignore
  CMakeLists.txt
  src/spin.c
  test/CMakeLists.txt
  test/CMakePresets.json
Due: c_api, fortran_api, python_api

Finalize under OSX
  CMakeLists.txt
  cmake/CMakePresets-CI.json
  src/CMakeLists.txt
  src/cell.h
  src/delaunay.h
  src/mathfunc.h
  src/niggli.h
  src/symmetry.h
  test/CMakeLists.txt
  test/CMakePresets-Release.json
  test/CMakePresets.json
Due: c_api, fortran_api, python_api

Set SPGLIB_SHARED_LIBS true for windows CI
  cmake/CMakePresets-CI.json
Due: none

Build example subdir alway on CI again
  .cmake-format
  CMakeLists.txt
  requirements.txt
  src/CMakeLists.txt
  test/CMakeLists.txt
Due: c_api, fortran_api, python_api

Use ENVIRONMENT_MODIFICATION with cmake -E env
  CMakeLists.txt
  test/CMakeLists.txt
  test/example/CMakeLists.txt
  test/functional/python/CMakeLists.txt
Due: none

Disabe build of example_full.c on windows for now
  test/CMakeLists.txt
  test/example/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/example/c_api/example_full.c
Due: none

Default Preset works now
  CMakeLists.txt
  cmake/CMakePresets-defaults.json
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
  test/example/CMakeLists.txt
  test/example/fortran_api/CMakeLists.txt
  test/functional/python/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
Due: fortran_api, python_api

Windows CI test with DLL but without python for now!
  cmake/CMakePresets-CI.json
Due: none

Add the name of National Institute for Materials Science
  COPYING
Due: none

Add NIMS name to top page of web site
  COPYING
  doc/index.md
Due: none

Explicitly export only API functions
  CMakeLists.txt
  ChangeLog.md
  cmake/CMakePresets-CI.json
  python/_spglib.c
  src/CMakeLists.txt
  src/spglib.h
Due: c_api, fortran_api, python_api

Patch functions that are unit tested
  src/base.h
  src/cell.h
  src/delaunay.h
  src/mathfunc.h
  src/niggli.h
  src/spglib.c
  src/symmetry.h
  test/unit/CMakeLists.txt
Due: c_api, fortran_api, python_api

Fix ctest run
  CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
Due: python_api

doc: Add note about `SPG_API_TEST`
  test/README.md
Due: none

fix: windows export path
  test/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
Due: none

Update top page of web site and COPYING
  COPYING
  doc/index.md
Due: none

Remove TOC from `README.md`
  README.md
Due: none

Start unifying README.md and index.md
  README.md
  doc/index.md
Due: none

Update doc/index.md
  doc/index.md
Due: none

fix: windows export path (#447)
  test/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
Due: none

fixup! Update top page of web site and COPYING (#449)
  doc/index.md
Due: none

fixup! Update top page of web site and COPYING (#449) (#452)
  doc/index.md
Due: none

CMake: tabs -> spaces
  CMakeLists.txt
  cmake/DynamicVersion.cmake
  cmake/PackageCompsHelper.cmake
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  src/CMakeLists.txt
  test/CMakeLists.txt
  test/example/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/functional/CMakeLists.txt
  test/functional/c/CMakeLists.txt
  test/functional/fortran/CMakeLists.txt
  test/functional/python/CMakeLists.txt
  test/integration/CMakeLists.txt
  test/package/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: c_api, fortran_api, python_api

chore: CMake: tabs -> spaces (#448)
  CMakeLists.txt
  cmake/DynamicVersion.cmake
  cmake/PackageCompsHelper.cmake
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  src/CMakeLists.txt
  test/CMakeLists.txt
  test/example/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/functional/CMakeLists.txt
  test/functional/c/CMakeLists.txt
  test/functional/fortran/CMakeLists.txt
  test/functional/python/CMakeLists.txt
  test/integration/CMakeLists.txt
  test/package/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: c_api, fortran_api, python_api

Made measure_rigid_rotation private
  src/refinement.c
  src/refinement.h
Due: c_api, fortran_api, python_api

style: Pre-processor indentation
  .clang-format
  python/_spglib.c
  src/base.h
  src/debug.h
  src/kpoint.c
  src/niggli.c
  src/overlap.c
  src/spglib.c
  src/spglib.h
Due: c_api, fortran_api, python_api

Convention `doc` -> `docs`
  .github/workflows/step_test-docs.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/README.md
  docs/_static/change-of-basis.ai
  docs/_static/change-of-basis.png
  docs/api.md
  docs/api/develop.md
  docs/api/index.md
  docs/codespell.txt
  docs/conf.py
  docs/dataset.md
  docs/definition.md
  docs/development/develop.md
  docs/development/magnetic_symmetry_flags.md
  docs/development/performance.md
  docs/index.md
  docs/install.md
  docs/interface.md
  docs/magnetic_dataset.md
  docs/python-interface.md
  docs/references.bib
  docs/references.md
  docs/releases.md
  docs/variable.md
  pyproject.toml
Due: none

Convention `include` folder
  .gitignore
  CMakeLists.txt
  include/CMakeLists.txt
  include/spglib.h
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

[WIP] Add basic C++ interface
  .distro/spglib.spec
  CMakeLists.txt
  cmake/CMakePresets-CI.json
  cmake/SpglibConfig.cmake.in
  cpp/.clang-format
  cpp/CMakeLists.txt
  cpp/spglib.cpp
  cpp/spglib.hpp
  cpp/version.cpp.in
  include/spglib.h
Due: none

[Debug] Package for epel-9-next
  .distro/spglib.spec
  .distro/tests/smoke.fmf
  .packit.yaml
  ChangeLog.md
  test/pytest.fmf
Due: none

Use gcovr for coverage
  .github/workflows/step_coverage.yaml
  .gitignore
  pyproject.toml
Due: none

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
