Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

.codecov.yaml:

flags:
  c_api:
    paths:
      - src/*
  fortran_api:
    paths:
      - src/*
      - fortran/*
  python_api:
    paths:
      - src/*
      - python/*

coverage:
  status:
    project:
      default:
        flags:
          - c_api
          - fortran_api
          - python_api
      c_api:
        flags:
          - c_api
      fortran_api:
        flags:
          - fortran_api
      python_api:
        flags:
          - python_api
codecov:
  notify:
    after_n_builds: 3

Update patch
  .distro/Relax_numpy_requirements.patch
Due: none

Explicitly add Werror flag
  test/example/CMakeLists.txt
Due: none

badge: vcpkg
  README.md
Due: none

Release v2.5.0
  ChangeLog.md
Due: none

Add renovate configuration
  .github/renovate.json
Due: none

feat: Add renovatebot (#506)
  .github/renovate.json
Due: none

Fix cibuildwheel
  pyproject.toml
Due: none

Resolve trivial pre-commit issues
  pyproject.toml
  python/spglib/__init__.py
  python/spglib/spglib.py
  test/example/python_api/example.py
  test/functional/python/conftest.py
  test/functional/python/test_hall_number_from_symmetry.py
  test/functional/python/test_niggli_delaunay.py
  test/functional/python/test_spacegrouop_type_from_symmetry.py
Due: none

fix DictInterface deprecation warning missing f-str
  python/spglib/spglib.py
Due: none

Fix `DictInterface` deprecation warning missing f-string (#511)
  python/spglib/spglib.py
Due: none

Update fprettify link
  .pre-commit-config.yaml
Due: none

Update all pre-commits
  .pre-commit-config.yaml
Due: none

chore: Fix pre-commit links (#518)
  .pre-commit-config.yaml
Due: none

Package for epel-9
  .distro/spglib.spec
  .distro/tests/smoke.fmf
  .packit.yaml
  test/pytest.fmf
Due: none

chore: `mat_Dabs` -> `fabs`
  src/cell.c
  src/delaunay.c
  src/kpoint.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/mathfunc.h
  src/primitive.c
  src/spacegroup.c
  src/spin.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

chore: `mat_Nint` -> `round`
  src/cell.c
  src/kpoint.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/mathfunc.h
  src/overlap.c
  src/primitive.c
  src/refinement.c
  src/site_symmetry.c
  src/spin.c
Due: c_api, fortran_api, python_api

Move the inlined definitions to header
  src/debug.c
  src/debug.h
Due: c_api, fortran_api, python_api

Take absolute value for calculating nubmer of lattice points
  src/magnetic_spacegroup.c
  test/README.md
  test/functional/c/test_magnetic_dataset.cpp
Due: c_api, fortran_api, python_api

Add comments
  test/functional/c/test_magnetic_dataset.cpp
Due: none

Bump CMake minimum required to 3.25
  .github/workflows/step_test.yaml
  CMakeLists.txt
  README.md
  cmake/SpglibConfig.cmake.in
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/example/fortran_api/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
Due: fortran_api, python_api

Remove FetchContent Spglib in sub-projects
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
Due: fortran_api, python_api

Revert `cibuildwheel` workaround
  pyproject.toml
Due: none

Remove dynamic load logic of `_spglib`
  python/spglib/spglib.py
Due: none

Use sphinx-autodoc
  .gitignore
  docs/conf.py
  pyproject.toml
Due: none

Fix wrong placement of TypeAlias
  python/spglib/spglib.py
Due: none

Convert documentation to autodoc
  docs/api/develop.md
  docs/api/index.md
  docs/api/python-api.md
Due: none

[Debug] try `autodoc_type_aliases`
  docs/conf.py
  python/spglib/spglib.py
Due: none

Use `sphinx-autodoc-typehints`
  docs/conf.py
  pyproject.toml
Due: none

Document changes
  ChangeLog.md
Due: none

Change method of including subproject
  CMakeLists.txt
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
Due: fortran_api, python_api

Simplify python install process
  .distro/spglib.spec
  CMakeLists.txt
  fortran/CMakeLists.txt
  pyproject.toml
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Change sphinx to use `importlib.metadata`
  docs/conf.py
Due: none

Fix documentation linking issues
  docs/api/develop.md
  docs/conf.py
  docs/python-interface.md
  pyproject.toml
  python/spglib/__init__.py
  python/spglib/spglib.py
Due: none

Add pyodide platform
  .github/workflows/step_build-wheel.yaml
Due: none

Bump cibw python target to 3.12
  .github/workflows/ci.yaml
Due: none

[Debug] try ignoring PytestCacheWarning
  pyproject.toml
Due: none

Add user role
  docs/conf.py
  docs/index.md
Due: none

Fix references
  docs/conf.py
  docs/install.md
  docs/interface.md
  docs/python-interface.md
Due: none

Remove usage of test.pypi.org
  .github/workflows/release.yaml
  docs/python-interface.md
Due: none
