Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

Concatenate exported `spglib_f08.F90` file
  fortran/CMakeLists.txt
Due: fortran_api

Document #421 changes
  ChangeLog.md
Due: none

Support linking via different compiler
  cmake/SpglibConfig.cmake.in
  fortran/CMakeLists.txt
  fortran/try_compile.f90
Due: fortran_api

fix: Fortran api (#421)
  ChangeLog.md
  cmake/SpglibConfig.cmake.in
  fortran/CMakeLists.txt
  fortran/try_compile.f90
Due: fortran_api

Update DynamicVersion
  ChangeLog.md
  cmake/DynamicVersion.cmake
Due: none

fix: DynamicVersion (#423)
  ChangeLog.md
  cmake/DynamicVersion.cmake
Due: none

Fix try_compile condition
  cmake/SpglibConfig.cmake.in
Due: none

fix: Fixup #421 (#427)
  cmake/SpglibConfig.cmake.in
Due: none

Release v2.3.1
  ChangeLog.md
Due: none

Raise TypeError for invalid cell
  .github/workflows/step_test.yaml
  doc/python-interface.md
  pyproject.toml
  python/spglib/spglib.py
  test/functional/python/test_cell.py
Due: none

Match exception message
  test/functional/python/test_cell.py
Due: none

Add type annotation for cell
  doc/conf.py
  pyproject.toml
  python/spglib/spglib.py
Due: none

changelog
  ChangeLog.md
Due: none

fix
  doc/python-interface.md
Due: none

Bump codecov action to v4
  .github/workflows/ci.yaml
  .github/workflows/step_coverage.yaml
  ChangeLog.md
Due: none

Simplify codecov configuration
  .github/.codecov.yaml
Due: none

Remove GNU extensions
  CMakeLists.txt
  example/c_api/CMakeLists.txt
Due: none

Bump minimum CMake version and set policy better
  CMakeLists.txt
  cmake/compat/cmake_path.cmake
  example/c_api/CMakeLists.txt
  example/fortran_api/CMakeLists.txt
  test/package/FetchContent/c/CMakeLists.txt
  test/package/FetchContent/fortran/CMakeLists.txt
  test/package/find_package/c/CMakeLists.txt
  test/package/find_package/fortran/CMakeLists.txt
  test/package/pkg-config/c/CMakeLists.txt
  test/package/pkg-config/fortran/CMakeLists.txt
Due: none

Reshape banners
  CMakeLists.txt
Due: none

Add message context
  CMakeLists.txt
  cmake/CMakePresets-defaults.json
Due: none

Move examples to inside ctest
  .distro/plans/examples.fmf
  example/.fmf/version
  example/c_api
  example/c_api/main.fmf
  example/fortran_api
  example/fortran_api/main.fmf
  example/main.fmf
  example/python_api
  example/python_api/main.fmf
  example/test.sh
  test/CMakeLists.txt
  test/example/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/example/c_api/README.md
  test/example/c_api/example.c
  test/example/c_api/example_full.c
  test/example/c_api/frequency.dat
  test/example/fortran_api/CMakeLists.txt
  test/example/fortran_api/README.md
  test/example/fortran_api/example.F90
  test/example/fortran_api/example_full.F90
  test/example/python_api/README.md
  test/example/python_api/example.py
  test/example/python_api/example_full.py
Due: none

Simplify Fortran package test
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
  test/package/src/main.F90
Due: none

Fix test-suite sub-project separation
  src/CMakeLists.txt
  test/functional/c/CMakeLists.txt
  test/unit/CMakeLists.txt
  test/unit/test_delaunay.cpp
  test/unit/test_niggli.cpp
  test/unit/test_symmetry.cpp
Due: c_api, fortran_api, python_api

Wrong CMAKE_C_STANDARD comment
  CMakeLists.txt
Due: none

Fix PackageCompsHelper
  cmake/PackageCompsHelper.cmake
Due: none

Run ctests in tmt
  .distro/plans/ctest.fmf
  test/ctest.fmf
  test/ctest.sh
Due: none

[Temp] workaround for missing pip in container
  .github/workflows/step_test.yaml
Due: none

Fix scikit-build configuration
  .github/workflows/step_coverage.yaml
  pyproject.toml
Due: none

test-suite documentation
  test/README.md
Due: none

Separate sanitizer tests
  .github/workflows/step_test.yaml
  cmake/CMakePresets-CI.json
  test/CMakeLists.txt
Due: none

Migrate Python api to sub-project
  .distro/plans/full.fmf
  CMakeLists.txt
  python/CMakeLists.txt
  test/pytest.fmf
Due: python_api

Migrate Fortran api to sub-project
  CMakeLists.txt
  cmake/PackageCompsHelper.cmake
  fortran/CMakeLists.txt
  fortran/spglib_version.f90.in
  test/ctest.sh
Due: fortran_api

Document the main changes in #397
  ChangeLog.md
Due: none

Bump artifact actions and use build-and-inspect
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/step_build-wheel.yaml
  ChangeLog.md
  pyproject.toml
Due: none

Scope typing-extensions
  pyproject.toml
  python/spglib/spglib.py
Due: none

ci: Build and inspect the sdist package (#402)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/step_build-wheel.yaml
  ChangeLog.md
  pyproject.toml
Due: none

Fix python install path convention
  ChangeLog.md
  pyproject.toml
  python/CMakeLists.txt
  python/_version.py.in
Due: python_api

Refactor ctest use of pytest
  .github/workflows/step_test.yaml
  python/CMakeLists.txt
  test/example/CMakeLists.txt
  test/functional/python/CMakeLists.txt
Due: python_api

format
  ChangeLog.md
Due: none

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
