Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

[Debug] try to fix gcovr issue
  .github/workflows/step_coverage.yaml
  pyproject.toml
Due: none

[Debug] try without codecov flags path
  .github/.codecov.yaml
Due: none

[Debug] try builtin codecov plugins
  .github/workflows/step_coverage.yaml
Due: none

Revert "[Debug] try builtin codecov plugins"
  .github/workflows/step_coverage.yaml
Due: none

Revert "[Debug] try without codecov flags path"
  .github/.codecov.yaml
Due: none

Add deprecation macros
  .clang-format
  ChangeLog.md
  include/spglib.h
Due: none

Mark C functions as deprecated
  include/spglib.h
Due: none

Cover different CMake versions
  .github/workflows/step_test.yaml
  ChangeLog.md
Due: none

Fix leftover CMake 3.20 todo
  test/functional/fortran/CMakeLists.txt
Due: none

Fix CMake 3.29 issue
  test/functional/fortran/CMakeLists.txt
Due: none

CMake 3.24: Fix FetchContent
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
Due: fortran_api, python_api

Use Spglib_SOURCE_DIR to detect if project was defined
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
Due: fortran_api, python_api

Use pragma once
  src/debug.h
Due: c_api, fortran_api, python_api

Bump CMake minimum required to 3.25
  .github/workflows/step_test.yaml
  CMakeLists.txt
  cmake/SpglibConfig.cmake.in
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  test/CMakeLists.txt
  test/example/c_api/CMakeLists.txt
  test/example/fortran_api/CMakeLists.txt
  test/package/FetchContent/CMakeLists.txt
  test/package/find_package/CMakeLists.txt
  test/package/pkg-config/CMakeLists.txt
Due: fortran_api, python_api

Enable macos and windows builders
  .github/workflows/step_test.yaml
Due: none

Drop `macos-12` from CI
  .github/workflows/step_test.yaml
Due: none

Resolve Windows not allowing variable length array
  test/example/c_api/example_full.c
Due: none

Fix importing static library on windows
  include/spglib.h
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Document changes
  ChangeLog.md
Due: none

chore: Update ci-build-wheel
  .github/workflows/ci.yaml
  .github/workflows/step_build-wheel.yaml
  pyproject.toml
Due: none

Refactor debug.c
  src/CMakeLists.txt
  src/debug.c
  src/debug.h
  src/kpoint.c
  src/niggli.c
Due: c_api, fortran_api, python_api

Control messages by environment variable
  src/debug.c
Due: c_api, fortran_api, python_api

Print accordingly to stdout/stderr
  src/debug.c
Due: c_api, fortran_api, python_api

Use helper `warning_memory`
  src/cell.c
  src/debug.c
  src/debug.h
  src/determination.c
  src/kpoint.c
  src/mathfunc.c
  src/overlap.c
  src/primitive.c
  src/refinement.c
  src/site_symmetry.c
  src/spacegroup.c
  src/spglib.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

Review debug print usage
  src/determination.c
  src/hall_symbol.c
  src/magnetic_spacegroup.c
  src/refinement.c
  src/spacegroup.c
  src/spglib.c
Due: c_api, fortran_api, python_api

Review warning print usage
  src/cell.c
  src/delaunay.c
  src/determination.c
  src/magnetic_spacegroup.c
  src/niggli.c
  src/pointgroup.c
  src/primitive.c
  src/refinement.c
  src/site_symmetry.c
  src/spacegroup.c
  src/spglib.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

Remove test-skip
  pyproject.toml
Due: none

Remove all remaining cibuildwheel limitations
  pyproject.toml
Due: none

[Temp] Run all cibw_build
  .github/workflows/ci.yaml
Due: none

Created SPGLIB_INFO messaging level
  CMakeLists.txt
  src/CMakeLists.txt
  src/cell.c
  src/debug.h
  src/delaunay.c
  src/determination.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/niggli.c
  src/pointgroup.c
  src/primitive.c
  src/refinement.c
  src/site_symmetry.c
  src/spacegroup.c
  src/spglib.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

Automate cmake_minimum_required
  .github/workflows/ci.yaml
  .github/workflows/step_metadata.yaml
  .github/workflows/step_test.yaml
Due: none

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
