Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

Silence codecov until all coverage tests are uploaded (#294)
  .codecov.yaml
Due: none

Move docstring to header file
  src/delaunay.c
  src/delaunay.h
  src/pointgroup.c
  src/pointgroup.h
Due: c_api, fortran_api, python_api

Test cell to be allocated
  test/test_symmetry.cpp
Due: none

Add basic test framework structure
  test/functional/CMakeLists.txt
  test/integration/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: none

Add basic ctest framework
  test/CMakeLists.txt
  test/functional/CMakeLists.txt
  test/functional/c/CMakeLists.txt
  test/functional/fortran/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: none

Move `c_api` functional tests correspondingly
  test/CMakeLists.txt
  test/functional/c/CMakeLists.txt
  test/functional/c/test_dataset_access.cpp
  test/functional/c/test_delaunay.cpp
  test/functional/c/test_error.cpp
  test/functional/c/test_find_primitive_cell.cpp
  test/functional/c/test_kpoints.cpp
  test/functional/c/test_magnetic_symmetry.cpp
  test/functional/c/test_refine_cell.cpp
  test/functional/c/test_spacegroup_type_search.cpp
  test/functional/c/test_standardization.cpp
  test/functional/c/test_symmetry.cpp
  test/functional/c/test_symmetry_search.cpp
Due: none

Partially rename google test suite
  test/README.md
  test/functional/c/CMakeLists.txt
  test/functional/c/dataset_access.cpp
  test/functional/c/delaunay.cpp
  test/functional/c/error.cpp
  test/functional/c/find_primitive_cell.cpp
  test/functional/c/kpoints.cpp
  test/functional/c/magnetic_symmetry.cpp
  test/functional/c/refine_cell.cpp
  test/functional/c/spacegroup_type_search.cpp
  test/functional/c/standardization.cpp
  test/functional/c/symmetry.cpp
  test/functional/c/symmetry_search.cpp
Due: none

Add unit tests to codecov
  .codecov.yaml
  .github/workflows/test.yml
  cmake/CMakePresets-CI.json
Due: none

Move fortran functional tests
  test/CMakeLists.txt
  test/fortran/CMakeLists.txt
  test/functional/CMakeLists.txt
  test/functional/fortran/CMakeLists.txt
  test/functional/fortran/c_interface_module.F90
  test/functional/fortran/test_fortran_spg_get_symmetry.F90
  test/functional/fortran/test_fortran_spg_refine_cell.F90
  test/functional/fortran/utils.F90
Due: none

Move some unit tests to their proper location
  test/functional/c/dataset_access.cpp
  test/functional/c/error.cpp
  test/functional/c/magnetic_symmetry.cpp
  test/functional/c/standardization.cpp
  test/functional/c/symmetry_search.cpp
  test/unit/CMakeLists.txt
  test/unit/dataset_acess.cpp
  test/unit/error.cpp
  test/utils.c
  test/utils.h
Due: none

Cleanup old files
  .travis.yml
  python/build-wheels.sh
  python/dev-requirements.txt
  python/get_nanoversion.sh
  python/requirements.txt
Due: python_api

Remove some outdated documentations
  doc/index.md
Due: none

Fix dollarmath labels
  doc/dataset.md
  doc/definition.md
Due: none

Chore: Change sphinx math syntax to latex style dollarmath
  doc/api.md
  doc/dataset.md
  doc/definition.md
  doc/development/magnetic_spacegroup.md
  doc/development/magnetic_symmetry_flags.md
  doc/index.md
  doc/python-spglib.md
  doc/variable.md
Due: none

Autogenerate heading labels
  doc/conf.py
Due: none

Fix missrendered equation
  doc/dataset.md
Due: none

Edit the python installation documentation
  doc/python-spglib.md
Due: none

Revert double-tick change
  doc/api.md
  doc/dataset.md
Due: none

Add mdformat to docs/*
  .pre-commit-config.yaml
Due: none

Run mdformat on docs
  doc/api.md
  doc/dataset.md
  doc/definition.md
  doc/development/develop.md
  doc/development/magnetic_spacegroup.md
  doc/development/magnetic_symmetry_flags.md
  doc/index.md
  doc/python-spglib.md
  doc/references.md
  doc/variable.md
Due: none

Prepend `test_` prefix back to the test_suite files
  test/functional/c/CMakeLists.txt
  test/functional/c/test_dataset_access.cpp
  test/functional/c/test_delaunay.cpp
  test/functional/c/test_error.cpp
  test/functional/c/test_find_primitive_cell.cpp
  test/functional/c/test_kpoints.cpp
  test/functional/c/test_magnetic_symmetry.cpp
  test/functional/c/test_refine_cell.cpp
  test/functional/c/test_spacegroup_type_search.cpp
  test/functional/c/test_standardization.cpp
  test/functional/c/test_symmetry.cpp
  test/functional/c/test_symmetry_search.cpp
  test/unit/CMakeLists.txt
  test/unit/test_dataset_access.cpp
  test/unit/test_error.cpp
Due: none

Add test fixture for dataset
  test/CMakeLists.txt
  test/c_fixtures.cpp
  test/c_fixtures.hpp
Due: none

Move dataset_access to test fixture
  test/functional/c/test_dataset_access.cpp
Due: none

Silence C warning error
  cmake/CMakePresets-CI.json
Due: none

[Temp][C23] Disable pedantic warnings
  cmake/CMakePresets-CI.json
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Add distinct warning and debug flags
  CMakeLists.txt
  src/CMakeLists.txt
  src/debug.c
Due: c_api, fortran_api, python_api

Remove other trivial debugging ifdefs
  src/pointgroup.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

Clean-up debug header
  src/debug.h
Due: c_api, fortran_api, python_api

Clean-up for loop debugging
  src/primitive.c
  src/spglib.c
Due: c_api, fortran_api, python_api

Remove unused functions
  src/pointgroup.c
Due: c_api, fortran_api, python_api

Add clang-format rule
  .clang-format
Due: none

Move niggli to use spglib debug
  src/debug.h
  src/niggli.c
Due: c_api, fortran_api, python_api

Update copyright statement of niggli.c.
  src/niggli.c
Due: c_api, fortran_api, python_api

Add concurrency
  .github/workflows/pypi-wheel-builds.yml
  .github/workflows/test.yml
Due: none

Change conda to native pip
  .github/workflows/test.yml
Due: none

ci: Change conda to native pip (#307)
  .github/workflows/test.yml
Due: none

Set C standard to C11
  CMakeLists.txt
Due: none

Document minimum C standard
  README.md
  doc/index.md
Due: none

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
