Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

Revert `cibuildwheel` workaround
  pyproject.toml
Due: none

Remove dynamic load logic of `_spglib`
  python/spglib/spglib.py
Due: none

Move testsetup to global definition
  docs/conf.py
  docs/python-interface.md
Due: none

Change sphinx to use `importlib.metadata`
  docs/conf.py
Due: none

Simplify python install process
  .distro/spglib.spec
  CMakeLists.txt
  fortran/CMakeLists.txt
  pyproject.toml
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Fix documentation linking issues
  docs/api/develop.md
  docs/conf.py
  docs/python-interface.md
  pyproject.toml
  python/spglib/__init__.py
  python/spglib/spglib.py
Due: none

Document changes
  ChangeLog.md
Due: none

Fix license to SPDX format
  .distro/spglib.spec
Due: none

Simplify pyproject.toml patching
  .distro/Relax_numpy_requirements.patch
  .distro/spglib.spec
Due: none

Tighten python linking to main package
  .distro/spglib.spec
Due: none

Convert warnings to error inside the CI
  .github/workflows/step_test.yaml
  pyproject.toml
Due: none

Always update pip to latest version
  .github/workflows/step_test.yaml
Due: none

Convert warnings to error in CMake as well
  cmake/CMakePresets-CI.json
Due: none

Ignore known pip issue
  .github/workflows/step_test.yaml
Due: none

Adding Fortran wrapper for pg_get_symmetry_from_database.
  fortran/spglib_f08.F90
Due: fortran_api

Added comment to the change log.
  ChangeLog.md
Due: none

Expose `spg_get_symmetry_from_database` in the Fortran interface (#530)
  ChangeLog.md
  fortran/spglib_f08.F90
Due: fortran_api

increase warning callstack
  python/spglib/spglib.py
Due: none

Organize packit yaml
  .packit.yaml
Due: none

Temporary fix to allow building the docs without C library
  python/spglib/spglib.py
Due: none

Do not build C library when building documentations
  .github/workflows/step_test-docs.yaml
  pyproject.toml
Due: none

Deprecate get_spacegroup
  python/spglib/spglib.py
Due: none

Deprecate get_symmetry_dataset
  python/spglib/spglib.py
Due: none

Make licence information compatibile with new version of scikit-build-core
  pyproject.toml
Due: none

Add missing `license-files`
  .distro/spglib.spec
  pyproject.toml
Due: none

Switch to using `FILE_SET`
  include/CMakeLists.txt
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Remove install(COMPONENT)
  CMakeLists.txt
  cmake/PackageCompsHelper.cmake
  fortran/CMakeLists.txt
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Remove pytest from CMake tests
  .github/workflows/step_test.yaml
  cmake/CMakePresets-CI.json
  test/functional/CMakeLists.txt
  test/functional/python/CMakeLists.txt
Due: none

Update cmake-pre-commit-hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix for clang-format 20
  python/_spglib.c
  src/cell.c
  src/mathfunc.c
  src/overlap.c
  src/primitive.c
  src/refinement.c
  src/spglib.c
  src/spin.c
  src/symmetry.c
  test/example/c_api/example_full.c
  test/functional/c/test_kpoints.cpp
  test/functional/c/test_magnetic_dataset.cpp
  test/functional/c/test_magnetic_symmetry.cpp
  test/functional/c/test_symmetry_search.cpp
  test/utils.c
Due: c_api, fortran_api, python_api

Fix debug build without warning/debug
  src/debug.c
  src/debug.h
Due: c_api, fortran_api, python_api

Migrate to pybind11
  ChangeLog.md
  pyproject.toml
  python/CMakeLists.txt
  python/_spglib.c
  python/_spglib.cpp
  python/py_bindings.cpp
  python/py_bindings.h
  python/spglib/_spglib.pyi
Due: python_api

Build SABI compatible wheels
  .github/workflows/ci.yaml
  .github/workflows/step_build-wheel.yaml
  ChangeLog.md
  pyproject.toml
  python/CMakeLists.txt
Due: python_api

Rename `layerdataset` to `layer_dataset`
  python/_spglib.cpp
  python/py_bindings.cpp
  python/py_bindings.h
  python/spglib/_spglib.pyi
  python/spglib/spglib.py
Due: python_api

Change clang-format style
  .clang-format
Due: none

Apply pre-commit
  include/spglib.h
  python/py_bindings.cpp
  python/py_bindings.h
  src/base.h
  src/cell.c
  src/debug.c
  src/debug.h
  src/delaunay.c
  src/hall_symbol.c
  src/kpoint.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/mathfunc.h
  src/niggli.h
  src/overlap.c
  src/pointgroup.c
  src/refinement.c
  src/site_symmetry.c
  src/site_symmetry.h
  src/spacegroup.c
  src/spg_database.h
  src/spglib.c
  src/spin.c
  src/symmetry.c
  test/example/c_api/example.c
  test/example/c_api/example_full.c
  test/functional/c/test_magnetic_dataset.cpp
  test/functional/c/test_magnetic_symmetry.cpp
  test/package/src/main.c
  test/unit/test_error.cpp
  test/unit/test_niggli.cpp
  test/utils.c
  test/utils.h
Due: c_api, fortran_api, python_api

Fix linkcheck issues
  docs/conf.py
  docs/index.md
Due: none

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
