Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

.codecov.yaml:

flags:
  c_api:
    paths:
      - src/*
  fortran_api:
    paths:
      - src/*
      - fortran/*
  python_api:
    paths:
      - src/*
      - python/*

coverage:
  status:
    project:
      default:
        flags:
          - c_api
          - fortran_api
          - python_api
      c_api:
        flags:
          - c_api
      fortran_api:
        flags:
          - fortran_api
      python_api:
        flags:
          - python_api
codecov:
  notify:
    after_n_builds: 3

build(fortran): remove unnecessary ISO_C_BINDING named constants
  test/functional/fortran/c_interface_module.F90
Due: none

Make yaml issue templates
  .github/ISSUE_TEMPLATE/01-report-incorrect-results.yaml
  .github/ISSUE_TEMPLATE/02-code-issue.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Drop windows_2019 runner
  .github/workflows/step_test.yaml
Due: none

use copy on win
  python/CMakeLists.txt
Due: python_api

build directly into spglib dir
  CMakeLists.txt
  python/CMakeLists.txt
Due: python_api

add RUNTIME_OUTPUT_DIRECTORY for win
  python/CMakeLists.txt
Due: python_api

recover copy spglib to build dir
  python/CMakeLists.txt
Due: python_api

remove fallback
  CMakeLists.txt
Due: none

Add `__all__` to the top-level package
  python/spglib/__init__.py
Due: none

Bump sphinx to 9.0
  docs/conf.py
  pyproject.toml
Due: none

Document the typealiases
  python/spglib/msg.py
  python/spglib/spg.py
  python/spglib/utils.py
Due: none

Use a workaround to document TypeAliases
  .readthedocs.yaml
  docs/workaround-pep695.py
Due: none

Export the `TypeAlias`es
  python/spglib/utils.py
Due: none

Unify mdformat pre-commit and fix dependency
  .pre-commit-config.yaml
  docs/.mdformat.toml
Due: none

Fix wrong arithmetic crystal class numbers for space groups no. 187 to 190
  src/arithmetic.c
Due: c_api, fortran_api, python_api

docs: fix external service failures in Sphinx checks
  docs/api.md
  docs/conf.py
  docs/dataset.md
  docs/index.md
  docs/interface.md
  python/spglib/spg.py
Due: none

fix: correct magnetic operations for BNS 37.184-37.186
  ChangeLog.md
  src/msg_database.c
  test/functional/python/test_magnetic_dataset.py
Due: c_api, fortran_api, python_api

docs: prepare v2.7.1 release notes
  ChangeLog.md
Due: none

docs: update release build test instructions
  Contributing.md
Due: none

ci: skip unsupported Windows ARM Python wheel targets
  pyproject.toml
Due: none

chore: require Python 3.11 or newer
  .github/workflows/step_test.yaml
  ChangeLog.md
  docs/README.md
  pyproject.toml
  python/CMakeLists.txt
  python/spglib/_compat/importlib/__init__.py
  python/spglib/_compat/importlib/resources.py
  python/spglib/_compat/typing.py
  python/spglib/msg.py
  python/spglib/spg.py
  python/spglib/utils.py
  test/CMakeLists.txt
Due: python_api

docs: add repository guidance for coding agents
  AGENTS.md
Due: none

docs: prepare v2.8.0 for the Python support change
  ChangeLog.md
Due: none

ci: test Python 3.15 free-threaded builds
  .github/workflows/step_test.yaml
  ChangeLog.md
  pyproject.toml
Due: none

docs: remove release-specific Python 3.15 support claim
  ChangeLog.md
Due: none

ci: bump cibuildwheel to build Python 3.15 wheels
  .github/workflows/step_build-wheel.yaml
Due: none

ci: recognize bundled DLLs during Windows wheel repair
  pyproject.toml
Due: none

ci: restore Ruff compatibility after Renovate rebase
  ChangeLog.md
  docs/python-interface.md
  pyproject.toml
  test/README.md
Due: none

docs: remove unused CMake intersphinx inventory
  docs/conf.py
Due: none
