Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

add style choice clang-tidy
  .clang-tidy
Due: none

Add basic .clang-tidy file
  .clang-tidy
  python/.clang-tidy
  test/.clang-tidy
Due: python_api

[clang-tidy] Temporarily disable complexity check
  .clang-tidy
Due: none

[clang-tidy] Make static const variables const
  src/arithmetic.c
  src/hall_symbol.c
  src/kpoint.c
  src/pointgroup.c
  src/spacegroup.c
  src/spglib.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

[clang-tidy] Align the structs
  src/cell.h
  src/determination.h
  src/magnetic_spacegroup.h
  src/mathfunc.h
  src/msg_database.h
  src/niggli.c
  src/overlap.c
  src/overlap.h
  src/pointgroup.c
  src/pointgroup.h
  src/primitive.h
  src/refinement.h
  src/spacegroup.h
  src/spg_database.h
  src/spglib.c
  src/spglib.h
  src/symmetry.h
Due: c_api, fortran_api, python_api

[clang-tidy] Redundant else after return
  src/cell.c
  src/delaunay.c
  src/kpoint.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/niggli.c
  src/overlap.c
  src/site_symmetry.c
  src/spacegroup.c
  src/spglib.c
Due: c_api, fortran_api, python_api

[clang-tidy] Remove redundant const parameter
  src/arithmetic.h
  src/cell.c
  src/cell.h
  src/delaunay.c
  src/delaunay.h
  src/determination.c
  src/determination.h
  src/hall_symbol.c
  src/hall_symbol.h
  src/kpoint.c
  src/kpoint.h
  src/magnetic_spacegroup.c
  src/magnetic_spacegroup.h
  src/mathfunc.h
  src/msg_database.h
  src/niggli.c
  src/niggli.h
  src/overlap.c
  src/overlap.h
  src/pointgroup.c
  src/pointgroup.h
  src/primitive.c
  src/primitive.h
  src/refinement.c
  src/refinement.h
  src/site_symmetry.c
  src/site_symmetry.h
  src/sitesym_database.h
  src/spacegroup.c
  src/spacegroup.h
  src/spg_database.c
  src/spg_database.h
  src/spglib.c
  src/spglib.h
  src/spin.c
  src/spin.h
  src/symmetry.c
  src/symmetry.h
  test/utils.h
Due: c_api, fortran_api, python_api

Configure readthedocs
  .readthedocs.yaml
  scripts/Readthedocs_pre_build.sh
  scripts/generate_changelog.py
Due: none

Bump sphinx, bibtex and myst-parser
  pyproject.toml
Due: none

[Temp] Use forks to satisfy dependencies
  pyproject.toml
Due: none

Added changelog generation
  .github/workflows/release.yml
  .gitignore
  ChangeLog.yaml
  pyproject.toml
  scripts/generate_changelog.py
Due: none

Improve release.md documentation
  .gitignore
  ChangeLog.md.j2
  ChangeLog.yaml
  doc/Makefile
  doc/README.md
  doc/_static/change-of-basis.ai
  doc/_static/change-of-basis.png
  doc/conf.py
  doc/definition.md
  doc/releases.md
  doc/releases.md.j2
  pyproject.toml
  scripts/generate_changelog.py
Due: none

Initial doxygen setup
  .readthedocs.yaml
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/conf.py
  doc/doxygen.md
  pyproject.toml
Due: none

Example migration
  doc/api.md
  doc/doxygen.md
  src/spglib.h
Due: c_api, fortran_api, python_api

[clang-tidy] Move initializers outside if statement
  src/cell.c
  src/determination.c
  src/kpoint.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/niggli.c
  src/overlap.c
  src/primitive.c
  src/refinement.c
  src/site_symmetry.c
  src/spacegroup.c
  src/spg_database.c
  src/spglib.c
  src/spin.c
  src/symmetry.c
Due: c_api, fortran_api, python_api

[clang-tidy] Various fixes
  src/arithmetic.c
  src/cell.c
  src/delaunay.c
  src/determination.c
  src/hall_symbol.c
  src/kgrid.c
  src/kpoint.c
  src/magnetic_spacegroup.c
  src/mathfunc.c
  src/niggli.c
  src/overlap.c
  src/pointgroup.c
  src/primitive.c
  src/refinement.c
  src/site_symmetry.c
  src/sitesym_database.c
  src/spacegroup.c
  src/spg_database.c
  src/spglib.c
  src/spin.c
  src/symmetry.c
  test/utils.c
Due: c_api, fortran_api, python_api

[null-checks] Missing null-check
  src/kpoint.c
  src/primitive.c
Due: c_api, fortran_api, python_api

Add pytests to ctest
  CMakeLists.txt
  cmake/CMakePresets-CI.json
  python/CMakeLists.txt
  test/functional/CMakeLists.txt
Due: python_api

Update test CI
  .github/workflows/test.yml
Due: none

remove coverage default from pyproject.toml
  pyproject.toml
Due: none

Fix _Thread_local for windows and apple clang
  src/spglib.c
Due: c_api, fortran_api, python_api

Add appropriate windows settings
  CMakeLists.txt
Due: none

Add missing dependency
  CMakeLists.txt
  test/CMakeLists.txt
Due: none

Disable gmock build and gtest install
  CMakeLists.txt
Due: none

Add windows and macos CI
  .github/workflows/test.yml
  cmake/CMakePresets-CI.json
Due: none

Set windows CI build to static library
  cmake/CMakePresets-CI.json
Due: none

Change build_type to RelWithDebInfo for the CI
  cmake/CMakePresets-CI.json
Due: none

Revert to macos-11
  .github/workflows/test.yml
Due: none

Change PyPI CI
  .github/workflows/pypi-wheel-builds.yml
Due: none

fix: cibuildwheel and markers
  pyproject.toml
Due: none

Revert to macOS-11
  .github/workflows/pypi-wheel-builds.yml
Due: none

Expand packit tests
  .packit.yaml
Due: none

Simplify PyPI action
  .github/workflows/pypi-wheel-builds.yml
Due: none

Drop Python 3.12 support
  pyproject.toml
Due: none

Refactor github actions
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/step_build-wheel.yaml
  .github/workflows/step_test.yaml
Due: none

Limit default build wheel to python 3.11
  .github/workflows/ci.yaml
Due: none

Enable Python 3.12 CI
  .github/workflows/step_test.yaml
Due: none

Mimic Ubuntu for Python experimental
  .github/workflows/step_test.yaml
Due: none

Fix python 3.12 CI (#319)
  .github/workflows/step_test.yaml
Due: none

refactor(database): standardize Hall symbols
  database/hall2operations.py
  database/layer_spg.csv
  database/spg.csv
  src/spg_database.c
Due: c_api, fortran_api, python_api

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
