Repository spglib/spglib: changes, and which Codecov flags are due for each by the changed paths.
All: c_api, fortran_api, python_api

Apply pre-commit
  test/functional/c/test_magnetic_symmetry.cpp
Due: none

Minor simplification of trim_cell
  src/cell.c
Due: c_api, fortran_api, python_api

Add doxygen comments
  src/cell.c
Due: c_api, fortran_api, python_api

Check pointer to dataset before free
  src/spglib.c
  test/functional/c/test_magnetic_symmetry.cpp
Due: c_api, fortran_api, python_api

Fix docs
  python/README.rst
Due: python_api

Add tests for niggli and delaunay reductions for default SPGLIB_NUM_ATTEMPTS=1000
  test/functional/c/CMakeLists.txt
  test/functional/c/test_niggli.cpp
  test/utils.c
  test/utils.h
Due: none

Increase max attempts for reduced cells
  src/delaunay.c
  src/niggli.c
Due: c_api, fortran_api, python_api

Include SPGLIB_NUM_ATTEMPTS environment test
  test/functional/c/test_delaunay.cpp
  test/functional/c/test_niggli.cpp
Due: none

Add environment variable `SPGLIB_NUM_ATTEMPTS`
  src/delaunay.c
  src/niggli.c
Due: c_api, fortran_api, python_api

Move Changelog to Changelog.md
  ChangeLog.md
Due: none

Use keepachangelog format
  ChangeLog.md
Due: none

Move changelog content from release.md
  ChangeLog.md
  doc/releases.md
Due: none

Reformat ChangeLog.md
  ChangeLog.md
Due: none

Bump sphinx, bibtex and myst-parser
  pyproject.toml
Due: none

Simplify `conf.py`
  doc/_static/change-of-basis.ai
  doc/_static/change-of-basis.png
  doc/conf.py
  doc/definition.md
Due: none

[Temp] Use sphinx-book-theme fork
  pyproject.toml
Due: none

Add MSVC wrapper for `setenv`
  test/utils.c
  test/utils.h
Due: none

Call `get_num_attempts()` only once
  src/delaunay.c
  src/niggli.c
Due: c_api, fortran_api, python_api

Update src/delaunay.c
  src/delaunay.c
Due: c_api, fortran_api, python_api

Minor changes to the variable initialization
  src/delaunay.c
Due: c_api, fortran_api, python_api

Check error code
  test/functional/c/test_magnetic_symmetry.cpp
Due: none

Use auto
  test/functional/c/test_magnetic_symmetry.cpp
Due: none

Fix example errors in definition.md
  doc/definition.md
Due: none

Update definition.md: Change "centering" to "centring"
  doc/definition.md
Due: none

Fix the matrix transpose
  doc/definition.md
Due: none

Fix typo
  src/arithmetic.c
Due: c_api, fortran_api, python_api

[Temp] Use `windows-2019` for GitHub Action
  .github/workflows/step_test.yaml
Due: none

Add latest macos and windows as experimental
  .github/workflows/step_test.yaml
Due: none

Fix sanitizer check
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

[Debug] Try static-libasan
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Fix typo in link to `spglib` paper
  doc/variable.md
Due: none

Minor update of variable.md
  doc/definition.md
  doc/variable.md
Due: none

Remove unnecessary line breaks inserted by VSCode format on save
  doc/definition.md
Due: none

Update doc/variable.md
  doc/variable.md
Due: none

Use myst-cross-referening in variable.md and definition.md
  doc/definition.md
  doc/variable.md
Due: none

Minor update of variable.md (#369)
  doc/definition.md
  doc/variable.md
Due: none

Fix fortran pkg-config file
  fortran/spglib_f08.pc.in
Due: fortran_api

Fix arithmetic crystal class for -6m2P and -62mP
  src/arithmetic.c
Due: c_api, fortran_api, python_api

Move compilation warnings to CI only
  CMakeLists.txt
  cmake/CMakePresets-CI.json
  src/CMakeLists.txt
Due: c_api, fortran_api, python_api

Add missing `include`
  test/CMakeLists.txt
Due: none

Path conditions:
  c_api: any of: src/*
  fortran_api: any of: src/*, fortran/*
  python_api: any of: src/*, python/*
